# Unity generated #
# =============== #
Observer/Temp/
Observer/Obj/
Observer/UnityGenerated/
Observer/Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Observer/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.cache
*.Cache
*.resharper
.DS_Store

_ReSharper.*
Assets/-tk2d
Assets/Resources/tk2d
