*.csproj
*.pidb
*.userprefs
*.suo
*.user
*.cache
*.Cache
Library
Temp
Observer/obj/Debug/UnityVS.Observer.CSharp.csproj.FileListAbsolute.txt
_ReSharper.*
*.resharper
Assets/-tk2d
Assets/Resources/tk2d/*
Observer/Observer.sln
Observer/Observer-csharp.sln
