*.csproj
*.pidb
*.userprefs
*.suo
*.user
*.cache
*.Cache
Library
Temp
Observer/obj/Debug/UnityVS.Observer.CSharp.csproj.FileListAbsolute.txt
_ReSharper.*
*.resharper
Assets/-tk2d
Assets/Resources/tk2d/*
Observer/Observer.sln
Observer/Observer-csharp.sln
Observer/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
Observer/obj/Debug/Assembly-CSharp-firstpass-vs.csproj.FileListAbsolute.txt
Observer/obj/Debug/Assembly-CSharp-firstpass.pdb
Observer/obj/Debug/Assembly-CSharp-firstpass.dll
Observer/obj/Debug/Assembly-CSharp.pdb
Observer/obj/Debug/Assembly-CSharp.dll
Observer/Observer.sln
Observer/Observer-csharp.sln
